In [1]:
%cd ..

import importlib
import json
import math
import os
import socket
import sys
import time


internal_path = os.path.abspath(os.path.join('.'))
sys.path.append(internal_path)
sys.path.append(internal_path + '/datasets')
sys.path.append(internal_path + '/utils')

import datetime
import uuid
from argparse import ArgumentParser

import setproctitle
import torch
import numpy as np
import pandas as pd 
import json
import wandb

import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
from matplotlib.ticker import AutoMinorLocator
from matplotlib.collections import LineCollection

/pub/hofmann-scratch/glanzillo/ded

In [2]:
os.environ['WANDB_API_KEY'] = 'c7314b16e17009f66f3043c0b7968e1142054123'
wandb.login()

api = wandb.Api()
runs = api.runs(path='continually/DataEfficientDistillation', filters={'tags': 'useful'})
print("Loaded", len(runs), "runs")

Failed to detect the name of this notebook, you can set it manually with the WANDB_NOTEBOOK_NAME environment variable to enable code saving.
wandb: Currently logged in as: glanzillo (continually). Use `wandb login --relogin` to force relogin

Loaded 41 runs

In [3]:
dir(runs)

['QUERY',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_include_sweeps',
 '_load_page',
 '_sweeps',
 'client',
 'convert_objects',
 'cursor',
 'entity',
 'filters',
 'index',
 'last_response',
 'length',
 'more',
 'next',
 'objects',
 'order',
 'per_page',
 'project',
 'update_variables',
 'variables']

In [4]:
dir(runs.objects[0])

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_attrs',
 '_base_dir',
 '_entity',
 '_exec',
 '_files',
 '_full_history',
 '_include_sweeps',
 '_repr_html_',
 '_sampled_history',
 '_state',
 '_summary',
 'client',
 'create',
 'delete',
 'dir',
 'display',
 'entity',
 'file',
 'files',
 'history',
 'id',
 'json_config',
 'lastHistoryStep',
 'load',
 'log_artifact',
 'logged_artifacts',
 'name',
 'path',
 'project',
 'save',
 'scan_history',
 'snake_to_camel',
 'state',
 'storage_id',
 'summary',
 'sweep',
 'to_html',
 'update',
 'upload_file',
 'url',
 'use_artifact',
 'used_artifacts',
 'user',
 'username',
 'wait_until_finished']

In [34]:
config = json.loads(runs.objects[10].json_config)
config.keys()

dict_keys(['mse', 'sgd', 'seed', 'alpha', 'debug', 'h_dim', 'device', 'exp_id', 'max_lr', 'min_lr', 'compile', 'dataset', 'mlp_dim', 'n_heads', 'seq_len', 'exp_name', 'head_dim', 'log_path', 'n_layers', 'data_root', 'n_workers', 'use_flash', 'eval_every', 'vocab_size', 'decay_steps', 'logger_type', 'temperature', 'wandb_notes', 'project_path', 'grad_clip_norm', 'log_ckpt_every', 'max_eval_steps', 'eval_batch_size', 'log_grads_every', 'max_train_steps', 'test_batch_size', 'train_batch_size', 'log_metrics_every', 'relative_log_path', 'tokens_per_second', 'wandb_entity_name', 'log_terminal_every', 'wandb_project_name', 'log_alignments_every', 'log_activations_every', 'teacher_checkpoint_path', 'gradient_accumulation_steps'])

In [4]:
config['h_dim']['value']

1024

In [18]:
h = runs.objects[0].history()
h.head()

,_step,config,_runtime,_timestamp,parameter count,parameter count without embedding,eval_batches,eval_tokens,eval_bytes
0,0,"{'_type': 'table-file', 'artifact_path': 'wand...",13,1706087768,NaN,NaN,NaN,NaN,NaN
1,1,NaN,14,1706087769,67680256.0,NaN,NaN,NaN,NaN
2,2,NaN,14,1706087769,NaN,34125824.0,NaN,NaN,NaN
3,3,NaN,26,1706087781,NaN,NaN,500.0,NaN,NaN
4,4,NaN,26,1706087781,NaN,NaN,NaN,4096000.0,NaN

In [33]:
h.columns

Index(['_time/forward', '_eval/top10_acc_over_gpuseconds', '_eval/top10_acc',
       '_train/learning_rate_0', '_eval/normalised_ppl_over_tokens',
       '_train/loss', '_time/total_step',
       '_eval/normalised_ppl_over_gpuseconds', '_eval/top1_acc',
       '_eval/normalised_loss', '_eval/ppl', '_time/backward',
       'x_axes/n_tokens', 'x_axes/gpu_seconds', '_time/tokens_per_second',
       'eval_batches', '_eval/total_loss', '_time/load_batch',
       '_eval/top1_acc_over_tokens', '_runtime', '_eval/normalised_ppl',
       'config', '_eval/normalised_loss_over_gpuseconds',
       '_eval/ppl_over_tokens', '_train/tokens_seen',
       '_eval/top1_acc_over_gpuseconds', '_step', 'eval_tokens',
       '_eval/ppl_over_gpuseconds', 'parameter count',
       '_eval/top10_acc_over_tokens', '_eval/loss',
       'parameter count without embedding',
       '_eval/normalised_loss_over_tokens', '_time/iterations_per_second',
       '_time/train_step', '_time/eval', '_timestamp', 'eval_bytes'],
      dtype='object')

In [25]:
list(h[6:]['_eval/cka'])

[0.40231186151504517,
 0.5032689571380615,
 0.5224665403366089,
 0.536484956741333,
 0.5498769283294678,
 0.5514689087867737,
 0.5602566003799438,
 0.5614172220230103,
 0.5586612820625305,
 0.5795760750770569,
 0.5739375352859497,
 0.5710100531578064,
 0.5867127776145935,
 0.5773130059242249,
 0.5850902199745178,
 0.591157078742981,
 0.592695415019989,
 0.5914744734764099,
 0.6026270389556885,
 0.5916302800178528,
 0.592689573764801,
 0.5996255874633789,
 0.6005229949951172,
 0.6010473966598511,
 0.6057960391044617,
 0.6048132181167603,
 0.6079581379890442,
 0.6118248701095581,
 0.6088635325431824,
 0.6044564843177795,
 0.6107466220855713,
 0.6121087670326233,
 0.623515784740448,
 0.6232402324676514,
 0.6092463135719299,
 0.6210176944732666,
 0.6167471408843994,
 0.6087719798088074,
 0.6146456599235535,
 0.6195009350776672,
 0.6198665499687195,
 0.616502046585083,
 0.6148177981376648,
 0.6190458536148071,
 0.6199896931648254,
 0.6132553815841675,
 0.6244933009147644,
 0.6061812043190002,
 0.6102924346923828,
 0.6197707653045654,
 0.615190863609314,
 0.623797595500946,
 0.6175651550292969,
 0.6228331327438354,
 0.6244058609008789,
 0.6189720630645752,
 0.6159141659736633,
 0.6213064789772034,
 0.6173146367073059,
 0.6229760646820068,
 0.6245139241218567,
 0.6288391351699829,
 0.6278673410415649,
 0.6205509305000305,
 0.6361693739891052,
 0.6383743286132812,
 0.6366727948188782,
 0.6293733716011047,
 0.6300233006477356,
 0.6342822909355164,
 0.642044723033905,
 0.622793436050415,
 0.630533754825592,
 0.6325476765632629,
 0.6330550909042358,
 0.6274797320365906,
 0.6445960998535156,
 0.6297696828842163,
 0.6355438828468323,
 0.6283459663391113,
 0.6364089846611023,
 0.6381834149360657,
 0.6477901935577393,
 0.640826940536499,
 0.6407577395439148,
 0.64384925365448,
 0.6412638425827026,
 0.6424219012260437,
 0.643688440322876,
 0.6396036148071289,
 0.6418759226799011,
 0.6298548579216003,
 0.6297253966331482,
 0.6356538534164429,
 0.6469942331314087,
 0.6369569897651672,
 0.649057924747467,
 0.6492979526519775,
 0.6433515548706055,
 0.6374378800392151,
 0.6418106555938721,
 0.6431873440742493,
 0.63710618019104,
 0.646014392375946,
 0.6428093314170837,
 0.6467447876930237,
 0.6486528515815735,
 0.6505153775215149,
 0.6466559767723083,
 0.6431186199188232,
 0.6452969312667847,
 0.6454530358314514,
 0.6470838189125061,
 0.6449066996574402,
 0.6435694098472595,
 0.6451192498207092,
 0.6447453498840332,
 0.6555076241493225,
 0.6446585059165955,
 0.6513537764549255,
 0.6536975502967834,
 0.6539285182952881,
 0.6529321670532227,
 0.6497679948806763,
 0.6451481580734253,
 0.6479848623275757,
 0.6458200216293335,
 0.6556823253631592,
 0.6501032114028931,
 0.6516523957252502,
 0.6493934988975525,
 0.6517351865768433,
 0.6500818729400635,
 0.6540848016738892,
 0.6518638730049133,
 0.6533373594284058,
 0.6516136527061462,
 0.649935245513916,
 0.6510862112045288,
 0.646673321723938,
 0.652445912361145,
 0.652251124382019,
 0.6550024747848511,
 0.6534309387207031,
 0.6529542207717896,
 0.6540032625198364,
 0.6535035371780396,
 0.6454556584358215,
 0.6512919664382935,
 0.6524344682693481,
 0.6496961116790771,
 0.6488727331161499,
 0.6483936905860901,
 0.6551697850227356,
 0.6549031734466553,
 0.651836097240448,
 0.6518941521644592,
 0.6516233086585999,
 0.6530490517616272,
 0.6530376672744751,
 0.6528023481369019,
 0.6519375443458557,
 0.6507448554039001,
 0.647670328617096,
 0.6563373804092407,
 0.654073178768158,
 0.6489908695220947,
 0.6523817181587219,
 0.6508191227912903,
 0.652239978313446,
 0.6516909003257751,
 0.653523862361908,
 0.6499550342559814,
 0.6572917699813843,
 0.6559587717056274,
 0.6543900966644287,
 0.6536126136779785,
 0.6547406911849976,
 0.6523868441581726,
 0.6514837145805359,
 0.6616678237915039,
 0.6530356407165527,
 0.6562081575393677,
 0.6504900455474854,
 0.6491538882255554,
 0.6462231278419495,
 0.6461698412895203,
 0.6474618315696716,
 0.6501375436782837,
 0.6503527164459229,
 0.6495445370674133,
 0.6491775512695312,
 0.6494523882865906,
 0.6493556499481201,
 0.6502015590667725,
 0.6472158432006836,
 0.6461722254753113,
 0.6461259126663208,
 0.6522987484931946,
 0.6419620513916016,
 0.6496331095695496,
 0.649482250213623,
 0.6490934491157532,
 0.6447846293449402,
 0.6476479768753052,
 0.6480473279953003,
 0.643658459186554,
 0.6454775929450989,
 0.6465274691581726,
 0.6491311192512512,
 0.6495946049690247,
 0.648354709148407,
 0.6494856476783752,
 0.6546858549118042,
 0.6527550220489502,
 0.6480138301849365,
 0.6510049104690552,
 0.6481373906135559,
 0.6486766934394836,
 0.6485797762870789,
 0.6468568444252014,
 0.6475703716278076,
 0.6476126909255981,
 0.6492660641670227,
 0.6470283269882202,
 0.6461569666862488,
 0.6439882516860962,
 0.6399732232093811,
 0.6475868821144104,
 0.6463268399238586,
 0.6450116634368896,
 0.6418032050132751,
 0.6411965489387512,
 0.6410180926322937,
 0.6444065570831299,
 0.6457749009132385,
 0.6420865058898926,
 0.6478403806686401,
 0.6475534439086914,
 0.6469700932502747,
 0.6463228464126587,
 0.6430884003639221,
 0.6392489075660706,
 0.6481576561927795,
 0.6404309272766113,
 0.6448779106140137,
 0.644349992275238,
 0.6410765051841736,
 0.6371793746948242,
 0.640660285949707,
 0.6431920528411865,
 0.6438156962394714,
 0.6449294686317444,
 0.6413282752037048,
 0.6378228068351746,
 0.643017053604126,
 0.636425256729126,
 0.6385841369628906,
 0.6397660970687866,
 0.6429530382156372,
 0.644999623298645,
 0.6410983800888062,
 0.642279863357544,
 0.640741229057312,
 0.643072247505188,
 0.6357774138450623,
 0.6344608068466187,
 0.6378975510597229,
 0.6366393566131592,
 0.6362597942352295,
 0.6340467929840088,
 0.6318719983100891,
 0.6335641145706177,
 0.6282768845558167,
 0.6341150999069214,
 0.6357623338699341,
 0.6353898048400879,
 0.6341363191604614,
 0.6390030980110168,
 0.6392809152603149,
 0.6362610459327698,
 0.6409043073654175,
 0.6350909471511841,
 0.6295501589775085,
 0.6384745836257935,
 0.6322415471076965,
 0.6318512558937073,
 0.631332516670227,
 0.6306318640708923,
 0.6305330395698547,
 0.6306200623512268,
 0.6271854639053345,
 0.634152352809906,
 0.6291337013244629,
 0.6284664869308472,
 0.6344166398048401,
 0.6306871175765991,
 0.6278762817382812,
 0.6271683573722839,
 0.6239322423934937,
 0.6257184743881226,
 0.626416802406311,
 0.6209055185317993,
 0.6246861815452576,
 0.6233862042427063,
 0.6295844316482544,
 0.6287904977798462,
 0.631086528301239,
 0.6264902949333191,
 0.6223660111427307,
 0.6250951886177063,
 0.6244099736213684,
 0.6262467503547668,
 0.6245507001876831,
 0.6263149380683899,
 0.6221964359283447,
 0.6259130835533142,
 0.6231350898742676,
 0.616875171661377,
 0.6188716888427734,
 0.6157072186470032,
 0.6192414164543152,
 0.621396541595459,
 0.6180166006088257,
 0.6130822896957397,
 0.613116979598999,
 0.6222345232963562,
 0.6191664934158325,
 0.6245141625404358,
 0.6204138398170471,
 0.6173824667930603,
 0.6191794872283936,
 0.6251381635665894,
 0.6189865469932556,
 0.6166138052940369,
 0.6180323958396912,
 0.6188790202140808,
 0.6198731660842896,
 0.620685338973999,
 0.6146233677864075,
 0.6183322072029114,
 0.6189553737640381,
 0.620503306388855,
 0.618209719657898,
 0.6153313517570496,
 0.6121635437011719,
 0.6126968860626221,
 0.6185070276260376,
 0.6178305745124817,
 0.6193519830703735,
 0.6123471856117249,
 0.6210005283355713,
 0.6132426261901855,
 0.6174792647361755,
 0.6175491213798523,
 0.6177718639373779,
 0.6133714318275452,
 0.6128544807434082,
 0.6143550276756287,
 0.6165492534637451,
 0.6084683537483215,
 0.6115618944168091,
 0.6080740094184875,
 0.6067758202552795,
 0.6097462177276611,
 0.6027669906616211,
 0.6100489497184753,
 0.6071591377258301,
 0.6076280474662781]

In [44]:
h['_step'].values[-1]

4999

In [47]:

COLUMNS = ['alpha','seed','student_net','teacher_net','step',
           'tokens_seen','cka_val','cka_train','fa_val','fa_train',
           'val_acc_top1', 'val_acc_top10', 'loss_train', 'ppl_val',
           'temperature', 'total_steps']
res_df = pd.DataFrame(columns=COLUMNS)

skipped = 0
for run in runs.objects:
    h = run.history()[6:] # first rows are for validation

    try:
        config = json.loads(run.json_config)
        total = len(h)
        new_runs = '_eval/cka' in h.columns

        #figuring out teacher architecture
        if config['teacher_checkpoint_path']['value'].split("/")[-1] == "gpt-mini":
            teacher = "mini"
        elif config['teacher_checkpoint_path']['value'].split("/")[-1] == "gpt-medium":
            teacher = "medium"
        else: raise Exception("Unknown teacher.")

        #figuring out student architecture
        if config['h_dim']['value']==512:
            student="mini"
        elif config['h_dim']['value']==1024:
            if config['n_layers']['value']==4: student="mini2"
            else: student="medium"

        try: T = config['temperature']['value']
        except KeyError: T=1 
        sub_df = pd.DataFrame({"alpha":[config['alpha']['value']]*total,
                            "seed":[config['seed']['value']]*total,
                            "total_steps":[h['_step'].values[-1]]*total,
                            "temperature":[T]*total,
                            "student_net":[student]*total,
                            "teacher_net":[teacher]*total,
                            "step":list(h['_step']),
                            "tokens_seen":list(h['_train/tokens_seen']),
                            "cka_val": list(h['_eval/cka']) if new_runs else [-1]*total ,
                            "cka_train":list(h['_train/cka']) if new_runs else [-1]*total,
                            "fa_val":list(h['_eval/fa']) if new_runs else [-1]*total,
                            "fa_train":list(h['_train/fa']) if new_runs else [-1]*total,
                            "val_acc_top1":list(h['_eval/top1_acc']),
                            "val_acc_top10":list(h['_eval/top1_acc']),
                            "loss_train":list(h['_train/loss']),
                            "ppl_val":list(h['_eval/ppl'])
                            })
        
    except KeyError: 
        print("Skipping")
        skipped+=1
        continue # skipping the runs without values
    except IndexError: 
        print("Skipping")
        skipped+=1
        continue # skipping the runs without values

    res_df = pd.concat([res_df,sub_df], ignore_index=True)

print(f"Completion. {skipped} runs skipped.")
res_df

Skipping
Skipping
Completion. 2 runs skipped.

,alpha,seed,student_net,teacher_net,step,tokens_seen,cka_val,cka_train,fa_val,fa_train,val_acc_top1,val_acc_top10,loss_train,ppl_val,temperature,total_steps
0,0,13,mini2,medium,300,19726336.0,0.655841,0.555727,0.000927,-0.001080,0.190045,0.190045,1.865341,125.416468,1,600
1,0,13,mini2,medium,600,39387136.0,0.717754,0.603243,-0.000678,0.004146,0.248359,0.248359,1.337096,74.237271,1,600
2,1,13,mini2,medium,300,19726336.0,0.649685,0.555937,0.001222,0.000004,0.180146,0.180146,4.763060,154.423665,1,600
3,1,13,mini2,medium,600,39387136.0,0.694051,0.609089,-0.000238,0.004516,0.229793,0.229793,4.223670,95.231124,1,600
4,1,13,mini,medium,100,6619136.0,0.530750,0.450695,-1.000000,-1.000000,0.145298,0.145298,5.967178,408.339663,1,1400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13934,0,11,mini2,medium,4600,150765568.0,-1.000000,-1.000000,-1.000000,-1.000000,0.334806,0.334806,0.755326,37.387045,1,4999
13935,0,11,mini2,medium,4700,154042368.0,-1.000000,-1.000000,-1.000000,-1.000000,0.335234,0.335234,0.750485,37.281560,1,4999
13936,0,11,mini2,medium,4800,157319168.0,-1.000000,-1.000000,-1.000000,-1.000000,0.335343,0.335343,0.764336,37.225138,1,4999
13937,0,11,mini2,medium,4900,160595968.0,-1.000000,-1.000000,-1.000000,-1.000000,0.335533,0.335533,0.764285,37.197286,1,4999
13938,0,11,mini2,medium,4999,NaN,-1.000000,-1.000000,-1.000000,-1.000000,0.335698,0.335698,NaN,37.141534,1,4999

In [48]:
logs_path = './logs/results/languini_results'
res_df.to_pickle(logs_path)

In [49]:
pd.read_pickle(logs_path)

,alpha,seed,student_net,teacher_net,step,tokens_seen,cka_val,cka_train,fa_val,fa_train,val_acc_top1,val_acc_top10,loss_train,ppl_val,temperature,total_steps
0,0,13,mini2,medium,300,19726336.0,0.655841,0.555727,0.000927,-0.001080,0.190045,0.190045,1.865341,125.416468,1,600
1,0,13,mini2,medium,600,39387136.0,0.717754,0.603243,-0.000678,0.004146,0.248359,0.248359,1.337096,74.237271,1,600
2,1,13,mini2,medium,300,19726336.0,0.649685,0.555937,0.001222,0.000004,0.180146,0.180146,4.763060,154.423665,1,600
3,1,13,mini2,medium,600,39387136.0,0.694051,0.609089,-0.000238,0.004516,0.229793,0.229793,4.223670,95.231124,1,600
4,1,13,mini,medium,100,6619136.0,0.530750,0.450695,-1.000000,-1.000000,0.145298,0.145298,5.967178,408.339663,1,1400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13934,0,11,mini2,medium,4600,150765568.0,-1.000000,-1.000000,-1.000000,-1.000000,0.334806,0.334806,0.755326,37.387045,1,4999
13935,0,11,mini2,medium,4700,154042368.0,-1.000000,-1.000000,-1.000000,-1.000000,0.335234,0.335234,0.750485,37.281560,1,4999
13936,0,11,mini2,medium,4800,157319168.0,-1.000000,-1.000000,-1.000000,-1.000000,0.335343,0.335343,0.764336,37.225138,1,4999
13937,0,11,mini2,medium,4900,160595968.0,-1.000000,-1.000000,-1.000000,-1.000000,0.335533,0.335533,0.764285,37.197286,1,4999
13938,0,11,mini2,medium,4999,NaN,-1.000000,-1.000000,-1.000000,-1.000000,0.335698,0.335698,NaN,37.141534,1,4999